{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<section  class= "bg_img1">
<div class="position-relative overflow-hidden   text-center bg-light bg_img1">
    <div class="col-md-5 p-lg-5 mx-auto my-5 xyz">
        <div class="colss">
      <h2 class="display-5 font-weight-normal">Welcome to Future of Dental Technologies</h2>
      <p class="lead font-weight-normal">Here at <b>AlfaDentistry</b> we are determined to provide you the best and latest dental instrument and devices all assembeled at you clinic.</p>
      <a class="btn btn-outline-secondary" href="/contact">Just a call Away</a>
        </div>
     </div>
    </div>
</div>
</section>
<section>
    <div class="d-md-flex flex-md-equal w-100 ">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h4 class="display-5">Get New Medical machinery</h4>
            <p class="lead">Starting your new clinic... <br>Need Hand? </p>
          </div>
          <div>
            <img class="bg-white shadow-sm mx-auto" src="static/eqp.jpg" class="img-fluid" alt="color" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h4 class="display-5">Dental Labs Material Supplier</h4>
            <p class="lead">For Labs where Magic begins...<br> we create Wands that work.</p>
          </div>
            <div>
                <img class="bg-white shadow-sm mx-auto" src="static/colorteeth.jpg" class="img-fluid" alt="color" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h4 class="display-5">Clinical Machinery Restoration</h4>
              <p class="lead">Have malfunctioning in your machines? <br>
                                     we can fix it.</p>
            </div>
            <div>
            <img class="bg-white shadow-sm mx-auto" src="static/restore.jpg" class="img-fluid" alt="color" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            </div>
      </div>
    </div>
</section>
<section class="jumbotron text-center">
    <div class="container">
      <p class="lead text-muted">For more detailed Information you can click below.</p>
      <p>
        <a href="/services" class="btn btn-primary my-2">For Service Info</a>
        <a href="/pricing" class="btn btn-primary my-2">For Pricing Info</a>
      </p>
    </div>
  </section>
{% endblock body %}