{% extends 'base.html' %}
{% block title %}Product & Services{% endblock title %}
{% block body %}
<section style="background-color: #e3f2fd;">
<section>
</section>
<section>
    <section class="py-5 text-center container xyz">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Product & Services</h1>
            <p class="lead text-body-secondary">We Deal in wide Range of Dental Products and provide services to both Dental clinics & dental labrotaries.</p>
          </div>
        </div>
      </section>
</section>

    <section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/clinic1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>Clinic Setup</b><br>
                        Starting your new clinic, We can help you in all setup requirement from chair to light bulbs everything you need is here.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/clinic2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>New Requirements</b><br>
                        Need New chair, X-ray machines, scalers ,micro-motors, dental suppies ,or Autoclaves etc you are right spot, Contact us.  </p>
                      <div class="d-flex justify-content-between align-items-center">
                     </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/clinic3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>Restoration or Repairs</b><br>
                        Problem with your old mechanics in your clinic or lab need a helping hand, call us for helping you with all repair jobs for you.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/teeth3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>Dental lab setup</b><br>
                        Are you thinking to start dental lab and don't have a clue how to setup a dental lab in minimum cost, don't stress we are here</p>
                      <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/teeth2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>Freelance Technicians Services</b><br>
                        Need some one to fulfil your dental requirements we can provide you services like creating denture, caps, implants, etc.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="static/teeth1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"  alt="img">
                    <div class="card-body">
                      <p class="card-text"><b>Dental Supplies</b><br>
                        Need dental supplies like modeling wax, prostetic teeth, algnate, amalgum, etc ? just remember AlfaDentisry .</p>
                      <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</section>
  {% endblock body %}